doctype html
html
  head
    title News Breaker
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    link(href="https://fonts.googleapis.com/css?family=Abhaya+Libre" rel="stylesheet")
    link(href='/css/style.css', rel='stylesheet')
  body
    .container
      .row
        .col-md-6.col-md-offset-3.text-center.logo
          img(src='img/logo.png')
      .row
        .col-md-6.col-md-offset-3.text-center.description
          h5 News that matters

      .row
        block content

    .container
      .row
        .copyright.text-center
